<div class="row">
  <div class="span6">
    <h1><small class="title-link"><%= link_to "Inbox", messages_path %></small> Outbox</h1>
    <% if @messages.empty? %>
      <h2>You haven't sent any messages!</h2>
    <% end %>
    <table class="table table-striped">
      <tr>
        <th>&nbsp;</th>
        <th>To</th>
        <th>Content</th>
        <th>On</th>
        <th>Actions</th>
      </tr>
      <%= render :partial => "message", :collection => @messages %>
    </table>
  </div>
</div>
