// 8bit 0.0.1
// Bootswatch
// -----------------------------------------------------

// TYPOGRAPHY
// -----------------------------------------------------
@import "http://fonts.googleapis.com/css?family=Oxygen+Mono|Amethysta|Open+Sans:400italic,700italic,400,600,700";

@font-face {
  font-family: 'silkscreen';
  font-style: normal;
  font-weight: normal;
  src: asset-url("silkscr.ttf");
}

// SCAFFOLDING
// -----------------------------------------------------

// NAVBAR
// -----------------------------------------------------

.navbar-inner { background: image-url("8bit-navbar-light.png") top left repeat-x; }
.navbar-inverse {
  .navbar-inner { background: image-url("8bit-navbar-dark.png") top left repeat-x; }
  .navbar-search {
    .search-query {text-shadow: none; color: @white; .box-shadow(none); border: none;
      &:focus, &.focused { text-shadow: none; color: @white; .box-shadow(none); border: none; } 
    }
  }
}

// NAV
// -----------------------------------------------------

// BUTTONS
// -----------------------------------------------------
.btn { position: relative; border: none; box-shadow: none; border-radius: 0px; background-image: none; }
.btn::before, .btn::after { content: ""; position: absolute; height: 22px; top:0px; width: 5px;}

.btn::before { left: 0px; }
.btn::after { right: 0px; }

body .btn::before, body .btn::after { border-top: 3px solid @bodyBackground; border-bottom: 3px solid @bodyBackground; }
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  .btn::before, body .btn::after { border-top-color:@tableBackgroundAccent; border-bottom-color: @tableBackgroundAccent; }
}
.well { .btn::before, .btn::after { border-top-color: @wellBackground; border-bottom-color: @wellBackground; }}
.hero-unit { .btn::before, .btn::after { border-top-color: @heroUnitBackground; border-bottom-color: @heroUnitBackground; } }

.btn-large::before, .btn-large::after { border-top-width: 5px; border-bottom-width: 5px; height: 36px; }
.btn-small::before, .btn-small::after { border-top-width: 3px; border-bottom-width: 3px; height: 18px; }
.btn-mini::before, .btn-mini::after { border-top-width: 3px; border-bottom-width: 3px; height: 18px; }


// TABLES
// -----------------------------------------------------

// FORMS
// -----------------------------------------------------

// DROPDOWNS
// -----------------------------------------------------

// ALERTS, LABELS, BADGES
// -----------------------------------------------------

.alert { h1, h2, h3, h4, h5, h6 { color: @warningText; }}

// MISC
// -----------------------------------------------------

// MEDIA QUERIES
// -----------------------------------------------------
