
// INCLUDES
// -----------------------------------------------------
.tweet ul { list-style-type: none; }
.tweet li { list-style-type: none; margin-top: 2em; }
.tweet img { float: left; }
.btn-twitter { width: 236px; }

// TYPOGRAPHY
// -----------------------------------------------------
@font-face {
    font-family: silkscreen;
    src: font-url("slkscr.ttf");
    font-weight:normal;
}

@font-face {
    font-family: chunk;
    src: font-url("Chunkfive-webfont.ttf"), font-url("Chunkfive-webfont.eot");
    font-weight: normal;
}

@font-face {
    font-family: chunk;
    src: font-url("Chunk.ttf");
    font-weight:bold;
}

// EFFECTS
// -----------------------------------------------------
.glassy-black { 
  padding: 6px; 
  background: rgba(0, 0, 0, 0.4);
  display: inline-block;
}


.rainbow {
  background: -webkit-linear-gradient(198deg,
      #FFEF3B  0%, #FFEF3B  4%,
      #D8E036  4%, #D8E036 10%,
      #82C652 10%, #82C652 16%,
      #00B55A 16%, #00B55A 22%,
      #009250 22%, #009250 28%,
      #00683D 28%, #00683D 34%,
      #00AAA0 34%, #00AAA0 40%,
      #0081BD 40%, #0081BD 46%,
      #404495 46%, #404495 52%,
      #662D91 52%, #662D91 58%,
      #9E005D 58%, #9E005D 64%,
      #D4145A 64%, #D4145A 70%,
      #DD464B 70%, #DD464B 76%,
      #FF464D 76%, #FF464D 82%,
      #FF7A4B 82%, #FF7A4B 88%,
      #FFA843 88%, #FFA843 94%,
      #FFC15C 94%, #FFC15C 100%
  );
}

.rainbow-light{
  background: -webkit-linear-gradient(198deg,
      #FCE2B1 0%, #FCE2B1  9%,
      #FBDBAC  9%, #FBDBAC 18%,
      #FBDCCF 18%, #FBDCCF 27%,
      #F7ADB0 27%, #F7ADB0 36%,
      #E8ADB0 36%, #E8ADB0 45%,
      #E296B7 45%, #E296B7 54%,
      #CD8EBA 54%, #CD8EBA 63%,
      #B7A0D0 63%, #B7A0D0 72%,
      #ADAED3 72%, #ADAED3 81%,
      #9CC9E4 81%, #9CC9E4 90%,
      #9AD9D3 90%, #9AD9D3 100%,
    );
}

.rainbow-gray {
  background: -webkit-linear-gradient(198deg,
      #EAEAEA  0%, #EAEAEA  4%,
      #E3E3E3  4%, #E3E3E3 10%,
      #D9D9D9 10%, #D9D9D9 16%,
      #D5D5D5 16%, #D5D5D5 22%,
      #CFCFCF 22%, #CFCFCF 28%,
      #D9D9D9 28%, #D9D9D9 34%,
      #D5D5D5 34%, #D5D5D5 40%,
      #D1D1D1 40%, #D1D1D1 46%,
      #D0D0D0 46%, #D0D0D0 52%,
      #CDCDCD 52%, #CDCDCD 58%,
      #D3D3D3 58%, #D3D3D3 64%,
      #D9D9D9 64%, #D9D9D9 70%,
      #DBDBDB 70%, #DBDBDB 76%,
      #E1E1E1 76%, #E1E1E1 82%,
      #E6E6E6 82%, #E6E6E6 88%,
      #EAEAEA 88%, #EAEAEA 94%,
      #DBDBDB 94%, #DBDBDB 100%
    );
}


// UTILITY CLASSES
// -----------------------------------------------------
hide { display: none; }

i.circle {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  .border-radius(.75em);
  background-color: @grayLight;
}

i.circle.active { background-color: @linkColor; }

.serif { font-family: @serifFontFamily !important; }
.sans { font-family: @sansFontFamily !important; }
.mono { font-family: @monoFontFamily !important; }

// LAYOUT
// -----------------------------------------------------
body { }

body > .container { background: #fff; min-height: 600px; padding-top: 10px; }

.global-header {
  min-height: 200px;
  background-position: 415px 10px;
  background-size: auto 205px;
  background-repeat: no-repeat;
  // background-size: 790px 238px;
  * { color: @white; }
  .control-panel { 
    padding-top: 1em;
    padding-left: 15px;
    background: #000 image-url("control-panel-bg.png") top center repeat-y;
    height: 200px;
    .progress { margin: 3px 0 7px 0; height: 1em; }
    h1, h2, h3, h4, h5, h6 { font-family: @monoFontFamily; }
    h3 { line-height: 18px; }
    p { line-height: 18px; margin: 0 0 5px 0; }
    img { max-width: 100px;}
    ul { font-family: @monoFontFamily; }
  }
  .section-name { background-color: @black; color: @white; margin-top: 178px; padding: .5em; font-family: @monoFontFamily; font-weight: 200; font-size: 16px; }
}
#header-flavor{
  text-align: center;
  background: image-url("gaymers.png") top center no-repeat;
  height: 300px;
  overflow: auto;
  h1, h2, h3, h4, h5, h6 {
    margin: .5em 0 0 0;
    font-weight: lighter;
    font-stretch: expanded;
    padding: 10px 30px 10px 30px;
    line-height: 1.5em;
    display: inline-block;
    background-color: @black;
    color: @white;
    font-family: @highlightFontFamily; 
    width: auto;
  }
  .glassy-black {
    h1, h2, h3, h4, h5, h6 { margin: 0; }
  }
  .center { text-align: center; margin-left: auto; margin-right: auto; }
  .gray-float {
    position: absolute;
    left: 47%;
    top: 130px;
    color: @grayLight;
    font: lighter 70px @highlightFontFamily;
    z-index: @zindexHeaderGrayFloat;
  }
}
.header-big {
  .rainbow;
  border-bottom: 14px solid black;
}

.navbar {
  .nav > li > a { padding-top: 15px; }
}

.social-signin { margin-bottom: 10px;}

footer { 
  width: 100%; 
  background: @black; 
  padding: 2em 0 2em 0; 
  margin-top: 55px;
  font-family: @monoFontFamily;
  color: @white;
  #social { position: relative; top: -14px; padding-left: 1.5em; }
  #copy { text-align: right; padding-right: 1.5em; }
  a { 
    color: @white;
    &:hover { color: @grayLight; }
  }
}