<h1><%= @title %></h1>
<p>Thanks a million for your donation, <%= @donation.name %>! You have sent us <%= number_to_currency(@donation.amount_in_dollars) %> and we will be using that to make GaymerCon even awesomer&trade;!</p>