<h1>Welcome to GaymerConnect!</h1>
<p>The hip, cool place to be a gaymer! On GaymerConnect.com you can: </p>
<ul>
  <li><%= link_to "Join our forums", forums_groups_url(:only_path => false) %></li>
  <li><%= link_to "Propose a panel for GaymerX", new_panel_url(:only_path => false) %></li>
  <li><%= link_to "Check your private messages", messages_url(:only_path => false) %></li>
  <li>...and we're adding more all the time!</li>
</ul>
<p>We hope you have fun with GaymerConnect.com, and remember, be nice!</p>
