<h1>Editing Badge</h1>

<p>Created by <%= link_to(@badge.admin.name, user_path(@badge.admin)) || link_to(@badge.admin.email, user_path(@badge.admin)) %></p>

<%= render :partial => "form" %>

<%= link_to "Back", admin_badges_path %>