<% panel = voting %>
<% if current_user.present? %>
  <div class="panel-voting">
    <% vote = panel.vote(current_user) %>
    <% upvoted = (vote.present? && vote.value > 0) ? "upvote_green.png" : "upvote_gray.png" %>
    <% downvoted = (vote.present? && vote.value < 0) ? "downvote_red.png" : "downvote_gray.png" %>
    
  </div>
<% end %>
