<div class="row">
  <div class="span12">
    <h1>Make Your Own Panel</h1>
    <p>Note: this is for submitting a panel that you (and possibly a few others) have the means to host. That means we will provide the space, projectors and mics, and you will provide and run everything else. 
  
    <br /><br />If you have a great idea for a panel but cannot host it, please <%= link_to "submit it here", welcome_path("contact") %> and we'll see about getting it in the con.</p>
    <%= render :partial => "panels/form" %>
    <%= link_to "<< Back to Panels", :back %>
  </div>
</div>