<% content_for :javascripts do %>
  
<% end %>
<br /><br />
<div class="row">
  <div class="span12 center">
    <h1>You've activated the secret code!</h1>
    <h2>I wonder what you get...</h2>
  </div>
</div>