<tr>
  <td><i class="pull-right circle <% notification.read?(current_user) ? '' : 'active' %>">&nbsp;</i></td>
  <td><%= link_to notification.message, notification.link %></td>
  <td><%= notification.updated_at.strftime(TIME_FORMAT) %></td>
</div>