<div class="notification <%= notification.read ? '' : 'unread' %>">
  <h4><%= link_to notification.message, notification.link %></h4>
  <small><em><%= notification.updated_at.strftime("%b %e, %l:%M%P") %><em></small>
</div>