<tr class="notification <%= notification.read ? '' : 'unread' %>">
  <td><%= link_to notification.message, notification.link %></td>
  <td><%= notification.updated_at.strftime(TIME_FORMAT) %></td>
  <td><%= notification.read ? "Yes" : "No" %></td>
</div>