<% if @nearby_users.present? %>
  <h1>Nearby Users</h1>
  <%= render :partial => 'card', :collection => @nearby_users %>
<% end %>

<h1 class="clearfix">Cool People</h1>
<%= render :partial => 'card', :collection => @users %>
<%= will_paginate @users %>