<div class="row">
  <div class="span12">
    <h1>Browsing Profiles</h1>
    <% @users.each do |user| %>
      <div class="card">
        <%= link_to image_tag(user.avatar), user_path(user.id) %>
        <p><%= user.name %></p>
        <% unless user.coords == [199.9, 199.9] %>
          <p><%= number_with_precision(user.distance_from(@coords), :precision => 2) %> miles</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= bootstrap_paginate @users %>
  </div>
</div>