$(function(){
  
  $('.job-button').remove();
  var job_id = $(".selected-job").data('job-id');
  $('.job-select').after("<input type='hidden' id='user_job_id' name='user[job_id]' value='" + job_id + "' />")
  $('.job-card').on("click", function(){
    $('.job-card').removeClass("selected-job");
    $(this).addClass("selected-job");
    var job_id = $(this).data('job-id');
    $("#user_job_id").val(job_id);
  });
  
  $(".job-select.modal").on("hide", function(){
    var job_img = $(".selected-job img").attr('src');
    $("#mini-job-image").attr('src', job_img);
  });
  
  $("#more-nicknames").on("click", function(e){
    e.preventDefault();
    var nick_form = $(".nicknames .form-row:last");
    var new_nick = nick_form.clone();
    new_nick.find("input[type='text']").val("");
    new_nick.find("option:first").attr("selected", "selected");
    nick_form.after(new_nick);
    
    return false;
  });
  
  $(".nicknames").on("change", "select", function(e){
    var sel = $(e.target);
    if(sel.val() == "other")
      sel.siblings(".nickname-network-other").removeClass("hide").fadeIn();
    else
      sel.siblings(".nickname-network-other").hide(function(){ $(this).addClass("hide")});
  });
  
  $(".nicknames").on("click", ".nickname-remove", function(e){
    e.preventDefault();
    if($(".nickname-form").length > 1){
      $(this).parents(".nickname-form").fadeOut('fast', function(e){ $(this).remove(); });
    }else{
      var form = $(this).parents(".nickname-form");
      var new_nick = form.clone();
      new_nick.find("input").val("");
      new_nick.find(".nickname-network-other").hide();
      new_nick.find("option:first").attr("selected", "selected");
      form.replaceWith(new_nick);
    }
    return false;
  });
  
  $(".hide").hide();
  
  $('#new_games').on("keypress", function(e) {
                  /* ENTER PRESSED*/
                  if (e.which == 13) {
                      e.preventDefault();
                      var tf = $(this)[0];
                      var post_data = {};
                      post_data[$(tf).data('relevance')] = $(tf).val();
                      
                      $.post('/users/add_tags', post_data, function(data, status, xhr){
                              var field_name = data['relevance'] + '[' + data['tag'] + ']';
                              var html = $('<div class="span3"><label class="checkbox key-field" for="' + field_name + '"><input type="checkbox" name="' + field_name + '" id="' + field_name + '" checked="true" />' + data['tag'] + '</label></div');
                              
                              var last_row = $("#games .row-fluid:last");
                              if(last_row.children().length < 3){
                                $(last_row).append(html);
                              } else {
                                var new_row = $("<div class='row-fluid'></div>");
                                new_row.html(html);
                                last_row.after(new_row);
                              }
                              $(tf).val('');
                          });
                      
                      return false;
                  }
              });
  
  // Initial stat setup
  if($(".initial-stat").length > 0){
    $('.initial-stat').draggable({revert: true});
    $('.stat-drop').droppable({tolerance: "touch",
    drop: function(e, ui){
      if(!$(this).hasClass('stat-drop'))
        return;
      stat = ui.draggable;
      $(this).parent().find('input').val(stat.data('stat'));
      $(this).removeClass('stat-drop');
      $(this).html(stat.data("stat"));
      stat.html('');
    }});

    $("#stat-reset").on("click", function(){
      $('.initial-stat').each(function(idx, elem){
        $(this).html($(this).data('stat'));
      });
      $('.stat div').addClass('stat-drop');
      $('.stat div').html('');
      $('.stat input').val('1');
      return false;
    });
  }
  
  // Stat increases
  
  if($(".stat-points-remaining").length > 0){
    $(".stats").on("click", ".add-stat", function(e){
      e.preventDefault;
      var free = parseInt($('.stat-points-remaining').html());
      if(!free > 0) return false;
      var stat = $(this).data('stat');
      var cur = parseInt($(".stat ." + stat).html());
      cur += 1;
      $(".stat ." + stat).html(cur);
      $("#user_" + stat).val(cur);
      free -= 1;
      if(free <= 0){
        $(".add-stat").hide();
        $(".points-message").hide();
        $(".points-complete-message").show();
      }else {
        $(".stat-points-remaining").html(free);
      }
      return false;
    });
    
    $("#stat-reset").on("click", function(){
      $('.stat').each(function(idx, elem){
        var div = $(this).find('div').first();
        div.html(div.data('initial'));
        $(this).find('input').val(div.data('initial'));
      });
      $(".add-stat").show();
      $(".points-message").show();
      $(".points-complete-message").hide();
      $('.stat-points-remaining').html($('.stat-points-remaining').data('remaining'));
      return false;
    });
  }
});