<div class="row">
  <div style="margin-left: auto; margin-right: auto; margin-top: 2em; text-align: center;">
    <i class="circle circle-<%= params[:id] == "what" ? "red" : "black" %>"></i>
    <i class="circle circle-<%= params[:id] == "how" ? "red" : "black" %>"></i>
    <i class="circle circle-<%= params[:id] == "together" ? "red" : "black" %>"></i>
    <i class="circle circle-<%= params[:id] == "xp" ? "red" : "black" %>"></i>
  </div>
</div>