<%= render :partial => "links" %>
<div class="row">
  <div class="span8">
    <h1>What Is Gaymercon?</h1>
    <p>
      <span class="paragraph-highlight">GaymerCon is the first gaming and geek lifestyle convention with a focus on LGBTQ culture. </span>
      <br/><br />
      #everyonegames &mdash; <a href="http://www.gaymercon.org/">http://www.gaymercon.org/</a>
      <br /><br />
      On August 3 &amp; 4th, 2013, we will gather for GaymerCon in San Francisco, CA for an exciting weekend of gaming, geek culture, tech talk,and some partying. We have some amazing bosses of honor and even a GaymerConcert! GaymerCon is open to all, whether you’re  bisexual, transgendered, gay, asexual or an ally and we hope to make an experience that will be meaningful as well as educational and fascinating.
    </p>
    <h2>The GaymerCon Prime Directives</h2>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h3>Support</h3>
    <p>Supporting an inclusive group spanning all orientations, ethnicities and gender expressions in the gaming community, collectively titled "Gaymers".</p>
  </div>
  <div class="span4">
    <h3>Create</h3>
    <p>Creating a Gaymer themed safe space to celebrate and cultivate diversity in the gaming and game developing communities!</p>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h3>Educate</h3>
    <p>Educating and informing the gaming community of the presence and importance of sexuality and gender diversity in our digital lives and promoting acceptance and social change through bettering the gaming experience.</p>
  </div>
  <div class="span4">
    <h3>Inspire</h3>
    <p>Inspiring the gaming world through interesting, exciting, and provocative content from many points of views: be it varying genders, ethnicities, sexualities or just different life experiences to those we normally see making games.</p>
  </div>
</div>
