<div class="body-content">

  <%= render :partial => "links" %>

  <h1>What Is Gaymercon?</h1>
  <p><span class="paragraph-highlight">GaymerCon is the first gaming and geek lifestyle convention with a focus on LGBT culture. </span><br/>On August 3 & 4th, 2013, we will gather together to create a fun, exciting weekend of gaming, geek culture, tech talk, development, and even some partying. GaymerCon is open to all and we hope to make an experience that will be meaningful as well as exceptionally exciting and fascinating.</p>

  <h2>The GaymerCon Prime Directives</h2>
  <ul class="grid-list">
    <li>
      <h3>Supporting</h3>
      <p>Supporting an inclusive group spanning all orientations / ethnicities / gender / class / creed in the gaming community - collectively titled Gaymers.</p>
    </li>
    <li>
      <h3>Creating</h3>
      <p>Creating a Gaymer themed convention to educate and entertain the gaming fanbase and the game developer community.</p>
    </li>
    <li>
      <h3>Educating</h3>
      <p>Educating and informing the gaming community of the presence of sexuality in our digital lives and promoting acceptance and social change through gaming.</p>
    </li>
    <li>
      <h3>Inspiring</h3>
      <p>Inspiring the gaming world through interesting, exciting, and provocative content.</p>
    </li>
  </ul>

  <h2>Why GaymerCon?</h2>
  <p>
    "Gaming" is gargantuan, billion dollar industry - and despite its enormity, there still lacks an outlets for alternative gamers in the world. It is equally as hard for publishers to connect with and reach out to that audience.
    <br/><br/>
    Gaming is a common shared experience that helps us escape, educates us and helps to define who we are and want to be. Gay, Black, Latino, Lesbian, Asian, Kinksters, Women, Transgender, Bi, Nuns, Swedes, Hipsters, Browncoats, Trekkies, Xbots, Robots, Holograms, Dwarves, Lawyers and Monsters #everyonegames
  </p>
</div>