<div class="body-content">
  <h2>Site Resources</h2>
  <ul>
    <li><%= link_to "yusukekamiyamane icons", "http://p.yusukekamiyamane.com/" %></li>
    <li><%= link_to "Fast Icons", "http://www.fasticon.com/" %></li>
    <li><%= link_to "Pavel", "http://www.iconfinder.com/icondetails/2581/16/globe_internet_network_icon" %></li>
    <li><%= link_to "Bootstrap", "http://twitter.github.com/bootstrap/" %></li>
  </ul>
</div>