<div class="body-content">
  <h1>Credits</h1>
  <p>It takes a lot of people to make a convention. Here are some of the main helpers who are making this thing happen.</p>
  
  <h2>GaymerCon Bosses</h2>
  <ul class="credits-list">
    <li>Matt Conn</li>
    <li>Noah Silas</li>
    <li>Jack DeVries</li>
    <li>Benjamin Williams</li>
    <li>Andrew Evans</li>
    <li>Bobby ???</li>
  </ul>
  
  <h2>GaymerCon Super Board</h2>
  <ul class="credits-list">
    <li>Eric Hulsey</li>
    <li>Zach Weiner</li>
  </ul>
  
  <h2>Volunteers</h2>
  <ul class="credits-list">
    <li>Adam Pappie</li>
  </ul>
  
  <h2>Site Resources</h2>
  <ul>
    <li><%= link_to "yusukekamiyamane icons", "http://p.yusukekamiyamane.com/" %></li>
  </ul>