<div class="feature-content">
  <div class="feature-content-copy">
      <h1>GAYMERCON</h1>
      <h3>AUG 3-4 2013 San Francisco, Ca</h3>
      <a href="about" class="button button-red" >Learn More</a>
    </div>
</div>
<div class="column">
  <h4>About The Event</h4>
    <div class="about-video-wide">
      <iframe width="327" height="184" src="http://www.youtube.com/embed/6g9wqEkBkRw" frameborder="0" allowfullscreen></iframe>
      <a href="about" class="button button-blue">Learn More</a>
    </div>
</div>
<div class="column">
  <h4>@GaymerCon</h4>
  <div class="tweet" style="display: inline-block; ">
  </div>
</div>
<div class="column no-margin-right">
  <h4>Donate</h4>
  <div class="donate-pitch explain">
    We raised a bunch of money via <%= link_to "our Kickstarter", "http://www.kickstarter.com/projects/gaymercon/gaymercon-everybody-games" %>, but we know some of you found out too late. Well, there's still time! If you just want to donate, no buy a badge or attend the con or anything, please click the button below!
  </div>
  <div class="action">
    <%= link_to "Donate", welcome_path("donate"), :class => "button button-blue donate-button" %>
  </div>
</div>