<%= render partial: "shared/gcx_links" %>

<div class="row" style="margin-top: 2em;">
  <div class="span6">
    <%= image_tag "gcx_info/home.png" %>
    <h2>Create a Profile</h2>
    <ul class="lead">
      <li>Choose Your Username</li>
      <li>Enter Your Location</li>
      <li>Create A Short Bio</li>
      <li>Enter The Games You Play</li>
      <li>Enter in your Gamertags for popular services like Steam, Xbox LIVE, PSN, WiiU and more!</li>
    </ul>
  </div>
  
  <div class="span6">
    <%= image_tag "gcx_info/gaymerx-forums.png"%>
    <h2>Chat and Connect</h2>
    <ul class="lead">
      <li>Search for and Follow Friends</li>
      <li>Join new games and groups</li>
      <li>Message new friends and add them on your desired gaming network</li>
    </ul>
  </div>
</div>

<%= render partial: "shared/gcx_dots" %>