<div class="row">
  <div class="span12">
    <h1>Notify Me</h1>
    <p>So, we're not quite ready to roll yet, but we'll be glad to let you know when we are. Give us your email, and we'll send you one (1) email letting you know when you can connect. We'll never spam you. Promise :)</p>
    <form class="well" method="post" action="/welcome/notify">
      <label>Email</label>
      <input type="text" class="span3" name="email" placeholder="me@email.com">
      <span class="help-block">Enter your email</span>
      <p class="antispam"></p>
      <button type="submit" class="btn">Notify Me</button>
    </form>
  </div>
</div>
