<div class="row">
  <div class="span6 offset3">
    <div class="page-header"><h1>Privacy</h1></div>
    <p>It is our belief that you deserve to know how we handle your information. Consequently, the Privacy Policy below is a disclosure concerning our intent with your data. It is not a legally binding contract. It is a statement of intent made in good faith.</p>

    <p>If you are unsure what something means, please ask. Contact information is available at the bottom of the Privacy Policy.</p>

    <h2>Usage</h2>

    <p>Data may be used for any purpose.</p>

    <h2>Duration</h2>

    <p>Data may be kept indefinitely.</p>

    <h2>Commerce</h2>

    <p>Data is never bartered or sold for commercial gain.</p>

    <h2>Advertising</h2>

    <p>Data is never given to advertisers.</p>

    <h2>Law Enforcement</h2>

    <p>Data is given to law enforcement only when legal process is followed.</p>

    <h2>Analytic</h2>

    <p>Data may be collected by analytic services.</p>

    <h2>Contact</h2>

    <p>If you have questions about this privacy policy, please contact us.</p>

    <p><%= mail_to "admin@gaymerconnect.com" %></p>

    <p>584 Castro St<br />
    #553<br />
    San Francisco, CA 94114</p>
  </div>
</div>
