<%= render partial: "shared/gcx_links" %>

<div class="row">
  <div class="span12">
    <h2>How does GaymerConnect work with GaymerX?</h2>
    <ul class="lead">
      <li>Your Account is Your Badge Info
        <ul class="unstyled">
          <li>- Your username can be used as the name on your badge</li>
          <li>- Your stats and other information like games played and groups may be available to have on your badge</li>
          <li>- Having this info will hopefully make it easier to meet new friends at the con and reduce awkwardness</li>
        </ul>
      </li>
      <li>You can upvote/downvote panel submissions</li>
      <li>There may be special activities at the con for gaymers of certain levels/classes</li>
      <li>When you register a badge code, you gain XP! Same with donations! Woo!</li>
      <li>When you connect your Facebook account, we automatically pull in games that you play into your Games
    section, and you should connect Facebook and Twitter as it will bring you more personalized results, friend 
    suggestions and more as we expand the scope of GaymerConnect. Plus XP!</li>
    </ul>
  </div>
</div>

<%= render partial: "shared/gcx_dots" %>