<%= render partial: "shared/gcx_links" %>

<div class="row" style="margin-top: 2em;">
  <div class="span8">
    <%= image_tag "gcx_info/forums.png" %>
  </div>
  
  <div class="span4">
    <p class="lead" style="margin-top: 3em;">
      <strong>GaymerConnect</strong> is a 
      service that allows you to 
      find friends of every 
      identity who play the 
      same games you do. You 
      can talk about specific 
      games, find gamertags of 
      other cool folks who play 
      the same games you do, 
      locate other Gaymers 
      nearby, upvote panels for 
      Gaymer X, and more!
    </p>
  </div>
</div>

<%= render partial: "shared/gcx_dots" %>