<h1>Registrations</h1>
<table class="table table-striped">
  <tr>
    <th>Email</th>
    <th>City</th>
    <th>Age</th>
  </tr>
  <%= render partial: "registration", collection: @gaymers %>
</table>

<%= bootstrap_paginate @gaymers %>

<%= link_to "<< Back", halo_path %>