<div class="row">
  <div class="span8">
    <h1>Email to <%= @record.email %></h1>
    
    <strong>Subject:</strong><br />
    <pre class="sans"><%= @record.subject %></pre>
    
    <br /><br />
    <strong>Message</strong><br />
    <pre class="sans"><%= @record.body %></pre>
  </div>
</div>

