// Place all the styles related to the badges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.badge-info { margin: 3em 0 3em 0; }
#code-explain { width: 300px; font-style: italic;}
#purchase { float: right; width: 45%; }
#purchase-form { margin-top: 2em; }

.form-row input { display: inline;}