// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bbcode-textarea { width: 65%; }
.bbcode-toolbar { width: 64.8%; }
.unread { background: #D9EDF7; }
li.message { width: 50%; margin: 1em 0; padding: 1em; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border: 1px solid gray; }
.message-content { margin: 1em; padding: 1.5em; border: 1px solid black; min-height: 200px; background: image-url("gradient-gray.png") top left repeat-x; }
.message-byline { margin-left: 1em; }