// Place all the styles related to the panels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panels-popular, .panels-new { width: 40%; float: left; }
.panels-new { margin-left: 3%; }
.panels-all { clear: both; }
.panel { margin: 1em 0; }
.panel-show { margin: 1em; }
.panel-title { margin-bottom: 1em; }
.panel-description { margin-bottom: 2em; }
.panel-voting { float: left; text-align: center; width: 90px; }
.upvote { padding-left: 6px; }
.panel-voting-main { margin-bottom: 1em; }
.panel-voting-question { font-family: 'Silkscreen', Silkscreen, helvetica, verdana, arial, sans-serif; font-size: 18px; padding-top: 14px; }
.panel-meta { margin: 40px 0 0 90px; }
.panel-summary { margin-left: 95px; }
.panel-byline-image { float: left; }
.panel-byline { font-size: 85%; font-style: italic; }
.panel-byline-message { padding-top: 45px; margin-left: 125px;  }
.new-panel-button { clear: both; padding-top: 2em; }

.bbcode-textarea { width: 65%; }
.bbcode-toolbar { width: 64.8%; }

.panel-kind { font-style: italic; font-size: 85%;}
#panel-confirm { padding-left: 115px; padding-top: 1em;}
.panel-confirmed { font-family: 'Silkscreen', Silkscreen, helvetica, verdana, arial, sans-serif; font-size: 80%;  color: #1fd102; }
.confirmed { background: #dff0d8; padding: .5em 0 .5em; border-radius: 5px;}

.admin-message { margin: 1em 0 1em 0; width: 65%; }