// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.job-card {
  text-align: center;
  padding: .5em 0;
  border-radius: 5px;
  -moz-boder-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
}
.job-card.selected-job { background: #009acc; color: white; }
.stat-drop { display: inline-block; width: 2em; height: 2em; background: #ccc; }

#join-header { text-align: center; margin-left: auto; margin-right: auto; width: 45%; }
.step-number { text-align: right; font-weight: 700; color: #999; font-family: 'chunk', Georgia, "Times New Roman", Times, serif;}
.create-account-link { display: block; text-align: right; width: 278px; color: #999; }
.user-name span.add-on {height: 45px; }
#mini-job-image { height: 45px; }
input[type=text].name-with-job { height: 45px; }

.get-location { width: 45px; margin: 0; padding: 12px 0 13px 0; vertical-align: middle; }