// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main-hero {
  background: image-url("gaymercon-feature-bg.png") top center no-repeat;
  .whitebg { background: #fff; padding: 4px;}
  * { margin-left: 100px;}
  .btn { margin-left: 200px; }
}
.centered { text-align: center; }