<%= render partial: "shared/head" %>
<body>

<div id="fb-root"></div>

  <%= yield %>

</body>
</html>


<% if false %>
  <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.1340179658.html#_=1340503512136&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=gaymercon&amp;show_count=true&amp;show_screen_name=false&amp;size=m" class="twitter-follow-button" style="width: 160px; height: 20px; " title="Twitter Follow Button"></iframe>
  <div class="fb-like" data-href="https://www.facebook.com/GaymerCon" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>

  <a href="https://plus.google.com/113440831277664859026" rel="publisher">Find us on Google+</a>
<% end %>
